.largeAndCentered {
    font-size: 2.5em;
    height: 70%;
    width: 70%;
    text-align: center;
}
.fixedBottomCorner {
    position: fixed;
    bottom: 3vh;
    right: 4vw;
}

.roundButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(140, 140, 140, 0.49);
    color: #fff;
    border: 0 none;
    padding: 0;
    width: 3em;
    height: 3em;
    line-height: 1.5em;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}
.roundButton:hover, .roundButton:active {
    background-color: #e44848;
    color: #fff;
}
.roundButton:focus, .roundButton:focus-within {
    outline: none;
}
.roundButton:hover:before, .roundButton:active:before {
    animation: round-button-beat 1.5s ease-out infinite;
}
.roundButton:hover:after, .roundButton:active:after {
    animation: round-button-beat 1.5s ease-out 0.4s infinite;
}
.roundButton:before,
.roundButton:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #e44848;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.25s ease-in-out;
}
@-moz-keyframes round-button-beat {
    0% {
        opacity: 0.8;
        transform: scale(1);
    }
    70% {
        opacity: 0;
        transform: scale(1.5);
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes round-button-beat {
    0% {
        opacity: 0.8;
        transform: scale(1);
    }
    70% {
        opacity: 0;
        transform: scale(1.5);
    }
    100% {
        opacity: 0;
    }
}
@-o-keyframes round-button-beat {
    0% {
        opacity: 0.8;
        transform: scale(1);
    }
    70% {
        opacity: 0;
        transform: scale(1.5);
    }
    100% {
        opacity: 0;
    }
}
@keyframes round-button-beat {
    0% {
        opacity: 0.8;
        transform: scale(1);
    }
    70% {
        opacity: 0;
        transform: scale(1.5);
    }
    100% {
        opacity: 0;
    }
}
