.pageContainer {
    composes: gradientBackground from global;
    font-size: calc(10px + 2vmin);
    color: white;
    display: grid;
    grid-template-columns: 5vw 90vw 5vw;
    grid-template-rows: 100px 1fr;
    grid-template-areas:
            ". navbar ."
            ". pageBody .";
}
.pageBody {
    grid-area: pageBody;
}
.nav {
    grid-area: navbar;
    display: grid;
    grid-template-columns: 25px auto 1fr 15px;
    grid-gap: 10px;
    position: fixed;
    background-color: black;
    width: 100%;
}
.nav .backButton {
    grid-column: 1/2;
}
.nav .backButton .wider {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.nav .title {
    grid-column: 2/3;
    margin-left: 5vw;
    color: white;
}
.nav .additionalButtons {
    grid-column: 3/4;
    justify-self: right;
    align-self: center;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 3vw;
}

