.pageContainer {
    composes: gradientBackground from global;
    font-size: calc(10px + 2vmin);
    color: white;
    display: grid;
    grid-template-columns: 5vw 90vw 5vw;
    grid-template-rows: 100px calc(100vh - 200px) 100px;
    grid-template-areas:
            ". navbar ."
            ". pageBody ."
            ". . .";
}
.pageBody {
    grid-area: pageBody;
}
.nav {
    grid-area: navbar;
    display: grid;
    grid-template-columns: 130px 1fr;
    grid-gap: 10px;
}
.nav .backButton {
    grid-column: 1/2;
}
.nav .backButton .wider {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.nav .title {
    grid-column-start: 2;
    margin-left: 5vw;
    color: white;
}

