.pageContainer {
    background-color: #282c34;
    font-size: calc(10px + 2vmin);
    color: white;
    display: grid;
    grid-template-columns: 5vw 90vw 5vw;
    grid-template-rows: 100px calc(100vh - 200px) 100px;
    grid-template-areas:
            ". navbar navbar ."
            ". pageBody pageBody ."
            ". . . .";
}
.pageBody {
    grid-area: pageBody;
    justify-self: center;
}
.nav {
    grid-area: navbar;
    display: grid;
    grid-template-columns: 130px 1fr;
    grid-gap: 10px;
}
.nav__backButton {
    grid-column: 1/2;
    position: relative;
}
.nav__header {
    grid-column-start: 2;
    justify-self: center;
    margin-right: 10vw;
    color: white;
}

