.page {
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    position: fixed;
    top: 0;
    -webkit-overflow-scrolling: touch;
    transition: transform 400ms ease-in-out;
}

.page-enter {
    transform: translate(-100%, 0);
}

.page-enter-active {
    transform: translate(0, 0);
}

.page-exit {
    transform: translate(-100%, 0);
}

.page--prev.page-enter {
    transform: translate(100%, 0);
}

.page--prev.page-enter-active {
    transform: translate(0, 0);
}

.page--prev.page-exit {
    transform: translate(100%, 0);
}
