.lineGrid {
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px 20px;
    padding: 1vh 3vw 1vh 3vw;
    position: relative;
}
.lineGrid span:nth-child(odd) {
    color: #9db396;
}
.lineGrid div {
    grid-column: 1/3;
    justify-self: center;
}

.receiptList {
    list-style-type: none;
    word-break: break-word;
    padding: 0;
}
.receiptList li {
    margin-top: 2vh;
    border-radius: 0.1em;
    transition: ease-out 0.3s;
    border: solid 1px #d3d63854;
}
.lineSelectEffect:hover, .lineSelectEffect:active {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border: solid 3px #d3d63854;
    border-right-color: rgba(216, 255, 90, 0.1);
    background: #3067195e;
}
.lineTriangleEffect:hover.lineTriangleEffect::after, .lineTriangleEffect:active.lineTriangleEffect::after {
    opacity: 0.4;
}
.lineTriangleEffect::after {
    content: '';
    position: absolute;
    right: 0;
    align-self: center;
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-left: 25px solid #d3d63854;
    border-bottom: 35px solid transparent;
    clear: both;
    opacity: 0;
    transition: ease-in 500ms;
}

.dateColor {
    color: #c8d406;
}
